.question-form{
    background-color: pink;
    border-color: red;
    border-radius: 12px;
    text-align: center;
}

.home-form{
    background-color: rgb(255, 0, 225);
    text-align: center;

}

.result-section{
    color: orange;
}

body{
    background-color: rgba(6, 6, 6, 0.9);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}